body {
  font-size: 100%;
}
@media(min-width:60em){body{font-size: 100%}}


.page-header {
    background-color: #20B2AA;
    margin-top: 0;
    padding: 1.250em 1.250em 1.250em 2.500em;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 2.000em;
    margin-top: -0.313em;
    text-decoration: none;
}

.content {
    margin-left: 2.500em;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
    margin-bottom: 0.313em;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 2.050em;
    margin-right: .550em;
    text-decoration: none;
}

.top-intro, .top-intro:hover, .top-intro:visited {
    color: #ffffff;
    display: inline-block;
    font-size: 1.200em;
    text-decoration: none;
}

.top-lock, .top-lock:hover, .top-lock:visited {
    color: #ffffff;
    float: right;
    font-size: 1.375em;
    margin-right: .550em;
    text-decoration: none;
}

.fa-unlock {
    color: #ffffff;
}

.login-btn {
    margin-top: 0.625em;
    padding: 0.313em 0 0.313em 0;
}


.post {
    margin-bottom: 4.375em;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.comment {
    margin: 1.250em 0 1.250em 1.250em;
}